<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RogueCustomsGodotClient.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <RogueCustomsGodotClient.Settings>
            <setting name="SaveGamePath" serializeAs="String">
                <value>./savedDungeon.rcs</value>
            </setting>
            <setting name="LocalLogFolder" serializeAs="String">
                <value>./logs</value>
            </setting>
        </RogueCustomsGodotClient.Settings>
    </userSettings>
</configuration>